<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: cabecera">
</head>
<body>
    <header th:replace="layout/layout :: menu"></header>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bg-danger contenedor">
                    <h1 class="text-white">Paginator + PostgresSQL + Bootstrap + CRUD</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-success contenedor">

                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-warning contenedor">

                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: piedepagina"></footer>
</body>
</html>